@use "../base/base.scss";

footer {
    background-color: base.$dark-color;
    color: base.$bg-color;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    
    ul {
        margin-right: 4rem;
        background-color: base.$dark-color;
    }

    ul li {
        margin: 0.5rem;
    }
}