/* ----------------COLORS----------------------

#FDFFF2
#26231A
#403D2B
#A38B5F
#4F4C42

*/

/*------------------------FONT // ROOT---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sail&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*------------------------HEADER---------------------------*/


.nav-bar {
    background-color: #26231A;
    color: #fdfff2;
    font-family: "nunito", sans-serif;
    padding: 1rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar img {
    margin-left: 2rem;
    max-width: 50px;
}

.nav-bar ul {
    display: flex;
    flex: 1 0 50px;
    gap: 0.5rem;
    justify-content: space-evenly;
    align-items: center;
}

a, a:active {
    color: #fdfff2;
    text-decoration: none;
    font-family: "nunito", sans-serif;
}

ul {
    list-style: none;
}

/*-------------------------MAIN----------------------*/

main{
    background-color: #fdfff2;
    padding: 1rem;

}
section, article {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section {
    border-radius: 8px;
    border: 1px solid #26231A;
}
section p {
    margin: 1rem;
}
h1 {
    font-family: "sail", sans-serif;
    font-size: 3rem;
    justify-self: center;
    margin-bottom: 2rem;
}
h2 {
    font-family: "nunito", sans-serif;
    font-weight: 700;
    margin: 1rem;
}
h3 {
    font-family: "nunito", sans-serif;
    color: #26231A;
}
p {
    font-family: "nunito", sans-serif;
}
span {
    color: #A38B5F;
}
input, textarea {
    font-family: "nunito", sans-serif;
    margin: 0.5rem;
    border-radius: 4px;
    padding: 0.2rem;
    border: none;
    border-bottom: 1px solid #26231A;
    border-left: 1px solid #26231A;
    outline: none;
    resize: none;
    min-width: 200px;
}
textarea {
    min-height: 100px;
}
.contact-button {
    background-color: #A38B5F;
}
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
figure {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
figure img {
    max-width: 75%;
    border-radius: 8px;
}
figcaption {
    font-family: "nunito", san-serif;
    font-size: 0.7rem;
    text-align: center;
    color: #26231A;
}

/*-------------------------FOTER---------------------*/
footer {
    background-color: #26231A;
    color: #fdfff2;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

footer ul {
margin-right: 4rem;
}

footer ul li {
    margin: 0.5rem;
}